@model MeetupScheduler

<head>
    <title>Schedule A Meetup</title>

    <style type="text/css">
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px;
            /* The height is 400 pixels */
            width: 100%;
            /* The width is the width of the web page */
        }
    </style>
    <script>
        // Initialize and add the map
        function initMap() {
            map = new google.maps.Map(document.getElementById("map"), {
                center: { lat: 39.71394, lng: -104.98349 },
                zoom: 15,
            });
        }

    </script>

</head>

<h3>Denver, CO</h3>
<!--The div element for the map -->
<div id="map">

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAc2q36Krmz8kqRNUlPfpV6s__CiAu7wQQ&callback=initMap&libraries=&v=weekly"
            async></script>

</div>


<body>
    <h1>Schedule A Meet Up</h1>

    <h4>Scheduler</h4>

    <form method="post">
        SellerID:
        <input asp-for="SellerID" />

        <br />

        SellerName:
        <input asp-for="SellerName" />
        <br />

        BuyerID:
        <input asp-for="BuyerID" />
        <br />
        BuyerName:
        <input asp-for="BuyerName" />
        <br />
        ItemID:
        <input asp-for="ItemID" />
        <br />
        StreetAddress:
        <input asp-for="StreetAddress" />
        <br />
        City:
        <input asp-for="City" />
        <br />

        State:
        <input asp-for="State" />
        <br />

        ZipCode:
        <input asp-for="ZipCode" />
        <br />

        MeetingTime:
        <input asp-for="MeetingTime" />
        <br />

        MeetingDate:
        <input asp-for="MeetingDate" />
        <br />
        <input type="submit" value="Schedule Meet Up" />


    </form>



    <div>
        <a asp-action="Edit">Edit Itenerary</a>
        <a asp-action="Details">View Itenerary</a>
        <a asp-action="Index">Back to List</a>
    </div>



</body>
