@model SilentAthleticsWebApp.Models.MeetupScheduler

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Itenerary</h1>

<hr />

<form method="post">
    SellerID:
    <input asp-for="SellerID" />

    <br />

    SellerName:
    <input asp-for="SellerName" />
    <br />

    BuyerID:
    <input asp-for="BuyerID" />
    <br />
    BuyerName:
    <input asp-for="BuyerName" />
    <br />
    ItemID:
    <input asp-for="ItemID" />
    <br />
    StreetAddress:
    <input asp-for="StreetAddress" />
    <br />
    City:
    <input asp-for="City" />
    <br />

    State:
    <input asp-for="State" />
    <br />

    ZipCode:
    <input asp-for="ZipCode" />
    <br />

    MeetingTime:
    <input asp-for="MeetingTime" />
    <br />

    MeetingDate:
    <input asp-for="MeetingDate" />
    <br />

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    <input type="submit" value="Update"/>

    </form>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
