@model IQueryable<Accounts>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>



@foreach (Accounts a in Model)
{
    <h3>@a.FirstName</h3>
}


