<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/rockies.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Baseball</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/bballden.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Basketball</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/combat1.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                    <h5 class="card-title">Combat Sports
                </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

</br>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">

        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/fitness1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Fitness</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/footballden.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Football</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">

        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/golf1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Golf</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>

    </br>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">

        <div class="card h-100" style="width: 18rem;">
            <img src="/Images/hike2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hiking & Camping</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/hockey1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Hockey</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card h-100" style="width: 18rem;">
            <img src="~/Images/ski1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Skiing</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
    </div>
</div>
    </br>
<div class="col mb-4">

    <div class="card" style="width: 18rem;">
        <img src="~/Images/snowboard1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Skiing</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>

</div>


