@{
    ViewData["Title"] = "Home Page";
}


<head>
    <link href="C:\Users\brian\.nuget\packages\bootstrap\4.6.0\contentFiles\any\any\wwwroot\css\bootstrap.css" rel="stylesheet" />
    <title>SA Homepage</title>
</head>
<div class="text-center">
    <h1 class="display-4">Silent Athletics</h1>
    <p>Denver's Favorite Marketplace for Sporting Gear</p>
</div>
