@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>


<p>Use this page to detail your site's privacy policy.</p>
<body>


    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaDeQmjXdRRvBDEgKQSU5xORfYvhE1rOc&callback=initMap&libraries=&v=weekly"
            async></script>


</body>
